@model ShoesStore.Models.ChiTietHdb

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết hoá đơn</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Số lượng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class="col-sm-2">
            Khuyến mãi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhuyenMai)
        </dd>
        <dt class="col-sm-2">
            Mã giày
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaGiayNavigation.MaGiay)
        </dd>
        <dt class="col-sm-2">
            Mã hoá đơn
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaHdbNavigation.MaHdb)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="ChiTietHdbs" asp-action="Edit" asp-route-id="@Model.MaHdb">Sửa</a>
    <a asp-controller="ChiTietHdbs" asp-action="Delete" asp-route-id="@Model.MaHdb">Xoá</a>
    <a asp-controller="Admin" asp-action="HDB">Quay lại</a>
</div>
